<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
</head>
<body>


<br />

<div class="d-flex justify-content-center align-items-center">
    <h1>{{ title }}</h1>
</div>
<div style="height: 80vh" class="d-flex justify-content-center align-items-center">

        <form method="post" action="{% url 'chat:room_page' %}">

                {% csrf_token %}

                <input class="form-control" type="text" placeholder="room number please" name="room_no">
                <input style="margin-top: 5px;" class="form-control" type="text" placeholder="name please" name="name">

                <input style="margin-top: 5px;" class="btn btn-primary" value="Enter room" type="submit" name="name">

        </form>
</div>

</body>
</html>